<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <ng-container *ngFor="let category of categoryList">
            <mat-card class="card">           
                <img mat-card-image [src]="'assets/Images/category/'+category.image">                
                <mat-card-actions color="primary">
                    <div class="col-12" class="footerBar">
                        <a class="categoryName" [routerLink]= "['equipment',category.name]"  >{{category.name}}</a>
                    </div>                  
                </mat-card-actions>
              </mat-card>
        </ng-container>   
    </div>  
  </div>